<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>
        Title
    </title>
</head>

<body >


    <form method="POST" action="/doregistration">
        {% csrf_token %}
        <input name="login" />
        <input name="password" />
        <input type="submit" name="Login" value="Login" />
    </form>

   <h1>  </h1>

   {% for i in pages %}
      <p> {{ i.title }} </p>
   {% endfor %}


   {% for catalog in catalogs %}
   <p> {{ catalog.name }} </p>
   {% endfor %}

   {% for product in products %}
   <p> 

        {{ product.image_crop_tag }}
       <a href="product/{{product.id}}">
            {{ product.name }} 
        </a>
</p>
   {% endfor %}

</body>

</html>